src/main/mule/event.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	
		<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="59734b68-6dcb-467e-8228-e9a8c377b2f8" >
		<salesforce:basic-connection username="novbatch2020@gmail.com" password="No217353" securityToken="2LTqjGqOiJs7TJglLpDK5wb6" />
	</salesforce:sfdc-config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4fddacd7-15dc-4c49-b95c-70758d087f06" >
		<http:listener-connection host="0.0.0.0" port="8099" />
	</http:listener-config>
	<flow name="eventFlow" doc:id="41320144-2b1c-4ecc-b3ad-1230a5b679f0" >
		<http:listener doc:name="post: /events" doc:id="f5379395-78c4-4dbd-affd-25c3c8fad79f" config-ref="HTTP_Listener_config" path="/event7788"/>
		<ee:transform doc:name="Input to sfdc model" doc:id="c5cc1dd0-e99e-4805-9166-3c386ef1644a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
 output application/java
---
 [{
     Name__c: payload.name,
     Id__c: payload.id
 }]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:publish-platform-event-message doc:name="Publish platform event message" doc:id="02d63fa9-7458-49c4-8b4e-6dde0186d510" config-ref="Salesforce_Config" platformEventName="Users__e"/>
		<ee:transform doc:name="set response message" doc:id="b43af019-07c4-4a37-a382-2bbb50673a71" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
 output application/json
---
 payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="log sfdc response message" doc:id="e891e4f6-2c99-4369-969b-8df6329dcd32" message="#[payload]"/>
	</flow>
	
	
	
</mule>
